{% extends 'base.html' %}
{% block container %}
    <!-- top 3 cards img-->
    <div class="container mt-2">
        <div class="row">
            <div class="col">
                <a href="/stopgamenews/{{ imgs.0.id }}">
                    <div class="card">
                        <img src="{{ imgs.0.img_url }}"
                             class="card-img-top img-fluid">
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="/stopgamenews/{{ imgs.1.id }}">
                    <div class="card">
                        <img src="{{ imgs.1.img_url }}"
                             class="card-img-top img-fluid">
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="/stopgamenews/{{ imgs.2.id }}">
                    <div class="card">
                        <img src="{{ imgs.2.img_url }}"
                             class="card-img-top img-fluid">
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- down 2 cards img -->
    <div class="container mt-2">
        <div class="row">
            <div class="col">
                <a href="/stopgamenews/{{ imgs.3.id }}">
                    <div class="card">
                        <img src="{{ imgs.3.img_url }}"
                             class="card-img-top img-fluid">
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="/stopgamenews/{{ imgs.4.id }}">
                    <div class="card">
                        <img src="{{ imgs.4.img_url }}"
                             class="card-img-top img-fluid">
                    </div>
                </a>
            </div>
        </div>
    </div>
    </div>
{% endblock %}