{% extends 'base.html' %}
{% block container %}
    <div class="row  mt-2  d-flex justify-content-center">
        <div class="card mb-3 mx-3 border-light" style="max-width: 800px;">
            <div class="card-body img-responsive">
                {{ title|safe }}
                {{ article|safe }}
            </div>
        </div>
    </div>
    <div class="row mt-2 d-flex justify-content-center">
        <div class="card mb-3 mx-3 border-light" style="width: 800px; min-height: 300px">
            {% if user.is_authenticated %}
                <strong>Оставь комментарий!</strong>
                <form method="POST">
                    <div class="form-label-group">
                        <div class="text-left b-1">
                            {% csrf_token %}
                            <textarea rows="2" cols="40" name="text"></textarea>
                            <br>
                            <input type="submit" value="Отправить" style="position: relative">
                        </div>
                    </div>
                </form>
            {% endif %}
            {% if not headline.comments_sg.all %}
                <p>Ещё никто не осталвлял комментарий...</p>
            {% else %}
                <br>
                {% for comment in headline.comments_sg.all %}
                    <div class="row mx-3">
                        <div class="card border-light" style="width: 400px">
                            <strong>Пользователь: {{ comment.author }}</strong>
                            <br/>
                            <p style="margin-left: 10px">{{ comment.text }}</p>
                        </div>
                    </div>
                    <br>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    </div>
{% endblock %}